.log-out {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 5rem;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 0rem 1rem;
  grid-template-areas:
    "users chat";
}

.chat { grid-area: chat; }
.users { grid-area: users; }
