.user-container, .user-container-selected {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  box-shadow: 0 0 5px 0 var(--cardShadow);
}

.user-container-selected {
  background: var(--useBackground);
}

.user-container:hover {
  background: var(--useBackground);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.user-email {
  font-size: 14px;
  color: #666;
}
